body{

    background-image: url(Symphony.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    border-style: solid;
    border-color: white;

    background-color: black;
    color: white;

    color: white;

    font-family: "Underdog", "consolas", sans-serif;
    font-weight: lighter;
}
div{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 15px;
    margin-right: 175px;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    float: left;

    border-style: solid;
    border-color: white;
}
p{

    border-style: solid;
    border-color: white;

    background-color: black;
    color: white;

    font-family: "Underdog", "consolas", sans-serif;
    font-weight: lighter;
    font-size: 15px;
}
